@import url("http://fonts.googleapis.com/css?family=Varela");
@import url("http://fonts.googleapis.com/css?family=Lora");
.space_4 {
  padding-top: 4px;
  padding-bottom: 4px; }

.space_8 {
  padding-top: 8px;
  padding-bottom: 8px; }

.space_10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.space_12 {
  padding-top: 12px;
  padding-bottom: 12px; }

.space_20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.space_32 {
  padding-top: 32px;
  padding-bottom: 32px; }

.space_48 {
  padding-top: 48px;
  padding-bottom: 48px; }

.space_60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.space_75 {
  padding-top: 75px;
  padding-bottom: 75px; }

html {
  font-size: 14px; }

body {
  font-family: "proxima-nova",Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: #58595B;
  line-height: 1.25; }

a {
  text-decoration: none; }

p {
  margin-bottom: 14px; }

h1 {
  margin-top: 0;
  font-size: 18px;
  font-weight: 700; }

h2 {
  font-size: 16px;
  font-weight: 600; }

h3 {
  font-size: 16px;
  font-weight: 400; }

h4, .title {
  font-size: 14px;
  font-weight: 400; }

h5, .sectionTitle {
  font-size: 14px;
  font-weight: 400; }

.font_medium {
  font-size: 12px; }

.font_small, .legal {
  font-size: 10px; }

.title {
  color: #EB0029;
  font-weight: bold; }

.sectionTitle {
  color: #EB0029; }

.legal {
  color: #929497; }

.nowrap {
  white-space: nowrap; }

.btn {
  font-size: 1em;
  padding: 1em 1.5em;
  color: #fff;
  box-shadow: none !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.primary {
  background-color: #EB0029; }

.primary:hover {
  background-color: #AC162C; }

.secondary {
  background-color: #4BA5BF; }

.secondary:hover {
  background-color: #23465D; }

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100%;
  z-index: 100; }
  footer .menuDot {
    float: right; }
    footer .menuDot .dot {
      color: #fff;
      font-size: 1.5em;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.1em;
      width: 1.5em;
      height: 1.5em;
      background: #EB0029;
      -webkit-border-radius: 0.75em;
      -moz-border-radius: 0.75em;
      border-radius: 0.75em;
      display: block;
      margin-left: auto;
      margin-right: auto; }

#navPanel {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  height: -webkit-calc(50vh);
  height: -moz-calc(50vh);
  height: calc(50vh); }
  #navPanel .productLogo {
    height: 32px;
    text-align: center;
    bottom: 0;
    margin: 6px 0; }
    #navPanel .productLogo img {
      height: 24px;
      margin-top: 4px; }
  #navPanel .navOption {
    float: left;
    position: relative;
    width: 30%;
    margin: 4px;
    border: 1px solid #D1D3D4;
    color: #929497;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    #navPanel .navOption .box {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      padding: 22px 8px 8px 8px; }
    #navPanel .navOption img {
      height: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 10px; }
  #navPanel .navOption:before {
    content: "";
    display: block;
    padding-top: 100%; }

.home #navPanel {
  display: block; }

.hero {
  width: 100%;
  height: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .hero h1 {
    color: #fff;
    font-weight: normal; }

.att_grouping .group {
  border-top: 1px solid #F1F2F2;
  margin: 0 10px;
  padding: 12px 0 12px 12px; }
  .att_grouping .group .head h2, .att_grouping .group .head h4, .att_grouping .group .head .title {
    margin: 0; }
  .att_grouping .group .head h2 {
    color: #58595B; }
  .att_grouping .group .head h4, .att_grouping .group .head .title {
    color: #929497; }
  .att_grouping .group .head .largeArrow {
    float: right;
    margin-top: -30px; }
  .att_grouping .group .head .iconStrip {
    margin: 8px 0; }
    .att_grouping .group .head .iconStrip > div {
      width: 32%;
      display: inline-flex;
      position: relative; }
    .att_grouping .group .head .iconStrip img {
      display: inline-block;
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .att_grouping .group .head .iconStrip span {
      position: absolute;
      text-align: center;
      width: 100%;
      margin-top: 24px;
      color: #4BA5BF; }
  .att_grouping .group .details {
    margin-top: 10px; }
    .att_grouping .group .details h5, .att_grouping .group .details .sectionTitle {
      margin: 0;
      font-weight: bold;
      color: #58595B; }
    .att_grouping .group .details p {
      margin-top: 0; }
    .att_grouping .group .details li {
      padding-bottom: .25em; }
  .att_grouping .group .subDetail:first-child {
    margin-top: 30px;
    clear: both; }
  .att_grouping .group .subDetail {
    margin: 14px 0; }
    .att_grouping .group .subDetail .ico {
      float: left;
      margin-right: 6px; }
    .att_grouping .group .subDetail .closed {
      color: #EB0029; }

.att_grouping .details ul {
  margin-left: -18px; }

.esb .hero {
  background-image: url("http://s1.citypass.net/img-9b72034/products/new-york/attractions/empire/empire-hero-sm.jpg"); }

#nyc .hero {
  background-image: url("http://s1.citypass.net/img-71a8f7e/products/new-york/new-york-hero-sm.jpg"); }

.att_list {
  margin: 0 10px; }
  .att_list section {
    float: left;
    width: 100%;
    margin: 20px 0 8px 0; }
  .att_list .groupTitle {
    border-bottom: 1px solid #F1F2F2;
    margin-bottom: 2px; }
  .att_list .att_tile {
    float: left;
    height: 130px;
    border: 1px solid #F1F2F2;
    margin: 4px;
    position: relative; }
    .att_list .att_tile .att_title {
      position: absolute;
      bottom: 0;
      padding: 4px 2px 2px 2px;
      background-color: #fff;
      opacity: .9;
      height: 34px;
      overflow: hidden;
      color: #252C3E;
      width: 100%; }
  .att_list .day .att_tile {
    width: 46.5%; }
  .att_list .no_visit {
    margin-bottom: 60px; }
    .att_list .no_visit .att_tile {
      width: 30%; }
      .att_list .no_visit .att_tile .att_title {
        font-size: 12px;
        height: 28px; }
  .att_list .att_tile {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .att_list #esb {
    background-image: url("http://s1.citypass.net/img-9b72034/products/new-york/attractions/empire/empire-hero-sm.jpg"); }
  .att_list #amnh {
    background-image: url("http://s1.citypass.net/img-8bd8863/products/new-york/attractions/amnh/amnh-hero-sm.jpg"); }
  .att_list #mma {
    background-image: url("http://s1.citypass.net/img-8bd8863/products/new-york/attractions/met/met-hero-sm.jpg"); }
  .att_list #trod {
    background-image: url("http://s1.citypass.net/img-8bd8863/products/new-york/attractions/toprock/toprock-hero-sm.jpg"); }
  .att_list #gugg {
    background-image: url("http://s1.citypass.net/img-8bd8863/products/new-york/attractions/guggenheim/guggenheim-hero-sm.jpg"); }
  .att_list #slei {
    background-image: url("http://s1.citypass.net/img-8bd8863/products/new-york/attractions/statue/statue-hero-sm.jpg"); }
  .att_list #clsc {
    background-image: url("http://s1.citypass.net/img-8bd8863/products/new-york/attractions/circle/circle-hero-sm.jpg"); }
  .att_list #nine {
    background-image: url("http://s1.citypass.net/img-8bd8863/products/new-york/attractions/911memorial/911memorial-hero-sm.jpg"); }
  .att_list #isasm {
    background-image: url("http://s1.citypass.net/img-8bd8863/products/new-york/attractions/intrepid/intrepid-hero-sm.jpg"); }

.attraction_listing .row {
  margin-bottom: 14px;
  display: flex; }
  .attraction_listing .row > div {
    width: 8%;
    float: left; }
    .attraction_listing .row > div .optionDot .dot {
      color: #929497;
      font-size: .95em;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.65em;
      width: 1.5em;
      height: 1.5em;
      background: #F1F2F2;
      -webkit-border-radius: 0.75em;
      -moz-border-radius: 0.75em;
      border-radius: 0.75em;
      display: block;
      margin-left: auto;
      margin-right: auto; }
  .attraction_listing .row .option {
    width: 92%; }
    .attraction_listing .row .option .listOR {
      padding-left: 24px;
      color: #D1D3D4;
      font-weight: bold;
      text-transform: uppercase; }
  .attraction_listing .row .ticket:before {
    content: "";
    display: block;
    background: url("../img/ico_move-gray.png") no-repeat;
    background-position-y: 5px;
    width: 14px;
    height: 14px;
    float: left;
    margin: 0 6px 0 0;
    opacity: .5; }

.attraction_listing > div:nth-child(2) {
  margin-top: 8px; }

.home #content {
  background-color: #EB0029;
  height: -webkit-calc(50vh);
  height: -moz-calc(50vh);
  height: calc(50vh);
  text-align: center;
  position: inherit; }
  .home #content h2, .home #content h3 {
    color: #F1F2F2; }
  .home #content h2 {
    padding-top: 70px;
    font-size: 2.75em;
    margin-bottom: 0; }
  .home #content h3 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5em; }

.home footer {
  display: none; }

body {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif; }

a {
  color: #4BA5BF; }

.content {
  padding-left: 10px;
  padding-right: 10px; }

.back_white {
  background-color: #fff; }

.back_grey4 {
  background-color: #F1F2F2; }

.back_grey5 {
  background-color: #F9FBFA; }

.back_blue1 {
  background-color: #23465D; }

.back_blue2 {
  background-color: #4BA5BF; }

section {
  position: relative; }
  section .title {
    margin: 0 20px;
    font-size: 21px;
    text-align: center;
    color: #23465D;
    font-weight: 500; }
  section .subtitle {
    font-size: 16px;
    color: #929497;
    font-weight: 300;
    display: block; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
