html {
  font-size: 1em; }

body {
  font-family: 'Varela', serif;
  font-weight: 400;
  color: #444; }

.serif {
  font-family: 'Lora', sans-serif; }

h1, h2, h3, h4, h5, p {
  margin: 0 0 0.5em 0;
  font-weight: inherit;
  line-height: 1.25; }

p {
  margin-bottom: 1em;
  line-height: 1.45; }

h1 {
  margin-top: 0;
  font-size: 3.998em;
  font-weight: 700; }

h2 {
  font-size: 2.827em;
  font-weight: 600; }

h3 {
  font-size: 1.999em;
  font-weight: 600; }

h4 {
  font-size: 1.414em; }

h5 {
  font-size: 1.207em; }

.promo {
  font-size: 5.653em;
  font-weight: 700;
  margin: 0;
  line-height: 1.2; }

.font_small {
  font-size: 0.707em; }

@media screen and (max-width: 480px) {
  html {
    font-size: .75em; }

  p {
    font-size: 1.08em;
    padding-bottom: .9em; }

  .promo {
    font-size: 5.1em;
    font-weight: 700;
    margin: 0;
    line-height: 1.2; } }
.typography {
  margin: 20px;
  border-top: 5px solid #aad4d0; }

hr {
  margin: 20px 0; }
